@page "/fetchdata"

@using Lashes_CRM_WebApp.Data
@inject WeatherForecastService ForecastService

<h1>Search for Customer Record</h1>



            

            @code {
               
            }
